@model CashMachineWeb.Models.BalanceModel

@{
	ViewBag.Title = "Balance";
	//Layout = "_Layout";
}

<h2>Balance</h2>
<hr />

@Html.DisplayForModel()

<div>
	@Html.ActionLink("Back", "Index", "Operations", null, new { @class = "btn btn-default" })
	@Html.ActionLink("Exit", "SignOut", "CreditCardAccount", null, new { @class = "btn btn-default" })
</div>