@model CashMachineWeb.Domain.AccountBalanceStamp

@{
	ViewBag.Title = "Balance";
}

<h2>Balance</h2>
<hr />

<div class="panel">
	@Html.DisplayForModel()

	<div>
		@Html.ActionLink("Back", "Index", "Operations", null, new { @class = "btn btn-default" })
	</div>
</div>