@model dynamic

@{
	ViewBag.Title = "Credit Card Operations";
}

<h2>Please select operation you need</h2>
<ul class="list-group">
	<li class="list-group-item">@Html.ActionLink("Account balance", "Balance", "Operations")</li>
	<li class="list-group-item">@Html.ActionLink("Withdraw money", "Withdraw", "Operations")</li>
	<li class="list-group-item">@Html.ActionLink("Exit", "SignOut", "CreditCardAccount")</li>
</ul>