@model dynamic

@{
	ViewBag.Title = "Credit Card Operations";
	//Layout = "_Layout";
}

<h2>Please select operation you need</h2>
<ul class="list-group">
	<li class="list-group-item">@Html.ActionLink("Баланс", "Balance", "Operations")</li>
	<li class="list-group-item">@Html.ActionLink("Снятие денег", "Withdraw", "Operations")</li>
	<li class="list-group-item">@Html.ActionLink("Выход", "SignOut", "CreditCardAccount")</li>
</ul>