@model  CashMachineWeb.Models.WithdrawViewModel

@{
	ViewBag.Title = "Withdraw money";
}

<h2>Withdraw money from account</h2>

@using (Html.BeginForm("Withdraw", "Operations", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
	@Html.AntiForgeryToken()
	<hr/>
	@Html.ValidationSummary()

	<div class="form-group">
		<div class="col-md-10">
			@Html.TextBoxFor(m => m.WithdrawAmount, new { @id = "withdrawAmountInput", @class = "form-control", @readonly = "" })
		</div>
	</div>

	@Html.Partial("_NumericKeyboard")
}

