<div id="numericKeyboard">
	@* upper row *@
    <div class="row" style="margin-bottom: 15px">
        <div class="col-xs-1">
			<input type="button" class="btn btn-default" value="7" />
        </div>
        <div class="col-xs-1">
			<input type="button" class="btn btn-default" value="8" />
        </div>
        <div class="col-xs-1">
			<input type="button" class="btn btn-default" value="9" />
        </div>
    </div>

	@* middle row *@
	<div class="row" style="margin-bottom: 15px">
        <div class="col-xs-1">
			<input type="button" class="btn btn-default" value="4" />
        </div>
        <div class="col-xs-1">
			<input type="button" class="btn btn-default" value="5" />
        </div>
        <div class="col-xs-1">
			<input type="button" class="btn btn-default" value="6" />
        </div>
    </div>

	@* lower row *@
	<div class="row" style="margin-bottom: 15px">
        <div class="col-xs-1">
			<input type="button" class="btn btn-default" value="1" />
        </div>
        <div class="col-xs-1">
			<input type="button" class="btn btn-default" value="2" />
        </div>
        <div class="col-xs-1">
			<input type="button" class="btn btn-default" value="3" />
        </div>
    </div>

	@* zero*@
	<div class="row" style="margin-bottom: 15px">
        <div class="col-xs-offset-1 col-sm-offset-1 col-xs-1">
            <input type="button" class="btn btn-default" value="0" />
        </div>
    </div>

	@* control buttons *@
	<div class="form-group">
		<div class="col-md-2">
			@* had to change type from reset to button in order to manually perform 'full reset' in javascript
				original behavior of reset button resets only till initial state
				which in case of form re-submission on failed validation
				will contain data and will never be reset to 'empty' - what we need to achieve here *@
			<button id="formFullReset" type="button" class="btn btn-default">Clear</button>
		</div>
		<div class=" col-md-10">
			<button type="submit" class="btn btn-default">OK</button>
		</div>
	</div>

</div>
