<div id="numericKeyboard">

    <div class="row" style="margin-bottom: 15px">
        <div class="col-md-1">
            <button type="button" class="btn btn-default" >7</button>
        </div>
        <div class="col-md-1">
            <button type="button" class="btn btn-default" >8</button>
        </div>
        <div class="col-md-1">
            <button type="button" class="btn btn-default" >9</button>
        </div>
    </div>

    <div class="row" style="margin-bottom: 15px">
        <div class="col-md-1">
            <button type="button" class="btn btn-default" >4</button>
        </div>
        <div class="col-md-1">
            <button type="button" class="btn btn-default" >5</button>
        </div>
        <div class="col-md-1">
            <button type="button" class="btn btn-default" >6</button>
        </div>
    </div>

    <div class="row" style="margin-bottom: 15px">
        <div class="col-md-1">
            <button type="button" class="btn btn-default" >1</button>
        </div>
        <div class="col-md-1">
            <button type="button" class="btn btn-default" >2</button>
        </div>
        <div class="col-md-1">
            <button type="button" class="btn btn-default" >3</button>
        </div>
    </div>

    <div class="row" style="margin-bottom: 15px">
        <div class="col-md-offset-1 col-md-1">
            @*<button type="button" class="btn btn-default">0</button>*@
            <input type="button" class="btn btn-default" value="0"/>
        </div>
    </div>

    
</div>
